<div class="w-fit max-w-[90%] mx-auto opacity-90">
  <div
    class="font-black text-center"
    [ngClass]="{
      'text-[clamp(1rem,19vmin,7rem)]': size === 'Big',
      'leading-[clamp(6vh,12vmin,12vh)]': size === 'Big',
      'mb-[1.5vh]': size === 'Big',
      'text-3xl!': size === 'Normal',
    }"
  >
    <span class="bg-linear-to-r from-blue-400 to-blue-600 bg-clip-text text-transparent">ROCK</span>
    <span class="bg-linear-to-r from-pink-400 to-pink-600 bg-clip-text text-transparent">
      PAPER
    </span>
    <span class="bg-linear-to-r from-yellow-400 to-yellow-600 bg-clip-text text-transparent"
      >SCISSORS</span
    >
  </div>
  <p
    class="text-center font-bold text-white"
    [ngClass]="{
      'text-[clamp(1rem,2.5vmin,10rem)]': size === 'Big',
      'text-sm!': size === 'Normal',
    }"
  >
    <span class="font-medium text-xs!">POWERED BY</span> FRANCISCO BARONA
  </p>
</div>
