<div class="h-full w-full relative overflow-hidden mt-auto flex flex-col gap-6 animate-fadeIn">
  <!-- Title -->
  <app-game-title [size]="'Big'"></app-game-title>

  <!-- Decorative hands -->
  <div class="absolute -rotate-45 opacity-70 bottom-0 left-0">
    <app-move-display [move]="'SCISSORS'" />
  </div>

  <div class="absolute rotate-45 opacity-70 bottom-0 right-0">
    <app-move-display [move]="'ROCK'" [isPlayer]="false" />
  </div>

  <div class="w-xl max-w-[80%] mx-auto my-auto flex flex-col space-y-8 text-center animate-bounceUp">
    <!-- Play Button -->
    <app-menu-card [title]="'Play'" [routerLink]="'/game'"></app-menu-card>

    <!-- Statistics Button -->
    <app-menu-card
      [title]="'Statistics'"
      [routerLink]="'/statistics'"
    ></app-menu-card>

    <!-- Instructions Button -->
    <app-menu-card
      [title]="'Instructions'"
      [routerLink]="'/instructions'"
    ></app-menu-card>
  </div>
</div>
