<div class="w-full min-h-full mx-auto flex flex-col relative">
  <!-- Error Message -->
  @if (errorMessage()) {
    <div class="mb-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
      {{ errorMessage() }}
    </div>
  }

  <!-- Score -->
  <div class="max-w-[95%] w-2xl mx-auto">
    <app-score [wins]="wins()" [losses]="losses()"></app-score>
  </div>

  <!-- Last Game Result -->
  <div class="w-full my-auto mx-auto">
    <app-last-game-result
      [lastGameResult]="lastGameResult()"
      [isLoading]="isLoading()"
    ></app-last-game-result>
  </div>

  <!-- Move Selection Interface -->
  <div class="max-w-[95%] w-2xl mt-auto mx-auto mb-4">
    <app-move-selector (action)="playGame($event)"></app-move-selector>
  </div>
</div>
