<div class="w-full min-h-full mx-auto flex flex-col relative overflow-hidden">
  <!-- Error Message -->
   <div class="absolute w-fit top-1/4 left-1/2 transform -translate-x-1/2">
     <app-error-message [message]="errorMessage()"></app-error-message>
   </div>

  <!-- Score -->
  <div class="max-w-[95%] w-2xl mx-auto">
    <app-score [wins]="wins()" [losses]="losses()"></app-score>
  </div>

  <!-- Last Game Result -->
  <div class="w-full my-auto mx-auto">
    <app-last-game-result
      [lastGameResult]="lastGameResult()"
      [isLoading]="isLoading()"
    ></app-last-game-result>
  </div>

  <!-- Move Selection Interface -->
  <div class="max-w-[95%] w-2xl mt-auto mx-auto mb-4">
    <app-move-selector (action)="playGame($event)" [isLoading]="isLoading()"></app-move-selector>
  </div>
</div>
