<div class="page-container flex justify-center items-center">
  <div class="w-full max-w-md bordered-container glass-bg">
    <!-- Title -->
    <app-game-title></app-game-title>
    <p class="text-center mt-8 mb-2">Sign in to your account</p>

    <!-- Error Message -->
    <app-error-message [message]="errorMessage()"></app-error-message>

    <!-- Login Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
      <!-- Email Field -->
      <div>
        <label for="email"> Email </label>
        <input
          type="text"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
          [attr.data-invalid]="email?.invalid && email?.touched"
        />
        @if (email?.invalid && email?.touched) {
          <p class="text-error">Email is not valid</p>
        }
      </div>

      <!-- Password Field -->
      <div>
        <label for="password"> Password </label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          (input)="password?.setValue(password?.value.replace(/\s/g, ''), { emitEvent: false })"
          [attr.data-invalid]="password?.invalid && password?.touched"
        />
        @if (password?.invalid && password?.touched) {
          <p class="text-error">Password is required (min 6 characters)</p>
        }
      </div>

      <!-- Submit Button -->
      <button type="submit" [disabled]="!isFormValid() || isLoading()" class="w-full mt-6">
        @if (!isLoading()) {
          <span>Sign In</span>
        }
        @if (isLoading()) {
          <span>Signing in...</span>
        }
      </button>
    </form>

    <!-- Register Link -->
    <p class="text-center mt-6">
      Don't have an account?
      <a routerLink="/register"> Register here </a>
    </p>
  </div>
</div>
