@import "tailwindcss";

:root {
    --bg-color: oklch(12.2% 0.057 254.392);
    --card-bg-color: oklch(17.6% 0.034 252.894)/40%;
    --text-white-color: oklch(97.6% 0.013 254.392);
    --text-color: oklch(92.727% 0.01395 248.154);
    --text-secondary-color: oklch(70.2% 0.02 254.392);
    --text-green-color: oklch(79.2% 0.209 151.711);
    --text-red-color: oklch(70.4% 0.191 22.216);
    --border-color: oklch(39.2% 0.042 251.392);
    --primary-color: oklch(59.2% 0.249 0.584);
    --secondary-color: oklch(37.3% 0.034 259.733);
    --error-color: #e96464;
    --border-radius: 12px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: #d1d5db !important;
    -webkit-transition: background-color 5000s ease-in-out 0s !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: #d1d5db !important;
    -webkit-transition: background-color 5000s ease-in-out 0s !important;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: #d1d5db !important;
    -webkit-transition: background-color 5000s ease-in-out 0s !important;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

label {
    color: var(--text-white-color);
    display: block;
    margin-left: .5rem;
    margin-bottom: .5rem;
}

input {
    color: var(--text-color);
    border-width: 2px !important;
    border-radius: 12px !important;
    border-color: var(--border-color);
}

input:focus {
    border-color: var(--primary-color);
    outline: none !important;
    box-shadow: none !important;
}

input:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

input[data-invalid="true"] {
    border-color: var(--error-color) !important;
    border-width: 2px !important;
}

a {
    color: var(--primary-color);
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

button {
    color: var(--text-white-color);
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition-property: background-color, opacity;
    transition-duration: 300ms;
    border: 2px solid white;
}

button:hover {
    cursor: pointer;
    opacity: 90%;
    scale: 1.01;
}

button:disabled {
    cursor: not-allowed;
    opacity: 50%;
}

.text-error {
    margin-top: .5rem;
    font-size: 14px;
    color: var(--error-color);
    text-align: end;
}

.title-header {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 800;
}

.bordered-container {
    padding: 1rem;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
}

.glass-bg {
    backdrop-filter: blur(4px) opacity(0.5);
}


@layer utilities {
    /* bounce animation */
    @keyframes bounceUp {

        0% {
            opacity: 0;
            transform: translateY(30px);
        }

        50% {
            opacity: 0.5;
            transform: translateY(-10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-bounceUp {
        animation: bounceUp 0.6s ease-in-out forwards;
    }

    /* fade in animation */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .animate-fadeIn {
        animation: fadeIn 0.6s ease-in forwards;
    }

    /* fade in to 50% opacity animation */
    @keyframes fadeInTo50 {
        from {
            opacity: 0;
        }

        to {
            opacity: 0.5;
        }
    }

    .animate-fadeInTo50 {
        animation: fadeInTo50 1s ease-in forwards;
    }
}